---
layout: default
---

<h2><span style="color: #550000;">A <em>Colophon</em> is...</span></h2>
<p style="padding-left: 30px;">"A Greek word meaning finishing touch or summit."</p>
<p style="padding-left: 30px;">"...a publisher's symbol or device formerly placed at the end of a book but now more generally used on the title page or elsewhere near the beginning. The function of colophons is to identify the publisher."</p>
<p style="padding-left: 60px;">-A Handbook to Literature (1960) - Thrall / Hibbard / Holman</p>
<h2><span style="color: #550000;">To our readers:</span></h2>
<p>As we embark on yet another academic year, we are incredibly excited to begin accepting submissions for the 60th volume of <em>Colophon</em>. We welcome all current Towson High School students to submit their work via the <strong>Submit</strong> link on the left.</p>
<p>We are also extremely pleased to announce that Towson High School&rsquo;s Alumni Association is working to digitize all past editions of <em>Colophon</em> and make them freely available to our community on this site.</p>
<p>One of the most exciting aspects of this vital endeavor is that <em>Colophon</em> will, for the first time ever, offer printed editions of the 2020, 2021, and 2022 issues of the magazine, which were unable to be published previously due to the pandemic. This effort is part of our broader goal to create a complete physical and digital library of every edition of <em>Colophon</em> for current, past, and future members of our community to enjoy well into the future.</p>
<p>We cannot thank the Alumni Association enough for making this possible.</p>
<p>We are thrilled to continue our work this year, honoring some of Towson High School's most gifted and creative individuals, and to collaborate with the Alumni Association on such a wonderful and meaningful project. We hope this news, along with these newly digitized publications (which will be available via the link on the left to the <strong>Archive</strong> page on this site), brings even a little of the light and creativity that Towson High School embodies into your homes. We look forward to continuing our dedication to the arts, artists, and the artistic spirit, both here and everywhere.</p>
<p>Thank you from all of us at <em>Colophon</em></p>

<img src="/source/images/colophon.jpg" alt="Colophon Image" style="max-width:100%; height:auto; display:block; margin-bottom: 15px;">