---
layout: default
---

<h2><span style="color: #550000;"> THSMUNC VI is on October 3rd 2026!</span></h2>
<p style="padding-left: 30px;">THSMUNC VI is a day conference aimed at delegates who would like to gain more experience before attended an overnight conference.</p>

<h2><span style="color: #550000;">For more information:</span></h2>
<p>Please use the tabs on the left to navigate our site and find additional information regarding the conference, including to register to attend.</p>

<img src="/source/images/THSMUNC.jpg" alt="THSMUNC Image" style="max-width:100%; height:auto; display:block; margin-bottom: 15px;">
